.description-section::before {
    content: "";
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    height: 460px;
    background-image: url("../image/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    z-index: 0;
}